<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 写接口的包名.类名-->
<mapper namespace="com.hsc.dao.UserMapper">
    <!--
    查询数据使用selectSQL语句
    id:接口中的方法名
    resultType: List<User>，返回的结果类型，我们只要写集合里面存储的类型User的类全名
-->
    <select id="findAllUsers" resultType="com.hsc.entity.User">
        SELECT * FROM user;
    </select>
    <select id="findUserById" parameterType="int" resultType="com.hsc.entity.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <select id="findUserByName" parameterType="String" resultType="User">
        SELECT * FROM user WHERE name LIKE '%${value}%'
    </select>
</mapper>